@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  font-size: 10px;
  font-family: var(--font-open-sams);
  color: white;
}

body {
  margin: 0;
}
html {
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  overflow: hidden;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
