.main {
  display: flex;
  flex-direction: column;

  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.8rem;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.insideBody {
  padding-left: 45px;
  display: flex;
  flex-direction: column;
}

.tag {
  opacity: 0.5;
  color: #f92672;
}

.indented {
  padding-left: 45px;
}

.script {
  padding-left: 45px;
  margin-top: 40px;
}

.consoleLog {
  padding-left: 45px;
  opacity: 0.25;
  position: relative;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.consoleLog:after {
  content: "";
  width: 2px;
  height: 20px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -4px;
  animation: cursor-blink 1s steps(2) infinite;
}
.comment {
  padding-left: 45px;
  color: #a6e22e;
  opacity: 0.35;
}

.buttons {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-size: 1.8rem;
  color: white;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--font-fira-code);
}

.coloredText {
  /* color: #263441; */
  text-decoration: underline;
  /*  font-weight: bold; */
}

.modal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  /*   background: rgba(255, 255, 255, 0.08); */
  /*  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(12.7px);

  box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.3);
  padding: 15px;
  padding-right: 24px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  width: 0;
  height: 0;
}

:global(.open) .modal {
  opacity: 1;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
}

.modalContent {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #f92672;
}
.close {
  position: relative;
  top: 10px;
  right: 10px;
  position: absolute;
  width: 40px;
  padding: 0;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  font-size: 4rem;
  background-color: transparent;
  background: transparent;
  border: none;
  outline: none;
}

.expirienceWrapper {
  display: flex;
  gap: 0px;
  align-items: flex-start;
}
.expirience {
  color: #a6e22e;
  padding-bottom: 10px;
  position: relative;
  flex: 1;
  gap: 10px;
  font-size: 2.5rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.year {
  font-size: 1.1rem;
  text-transform: none;
  font-weight: bold;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  margin-top: 9px;
  position: relative;
}

.company {
  font-size: 1.4rem;
  /*   color: #263441; */
  text-transform: none;
  font-weight: bold;
}

.expirienceContent {
  font-size: 1.6rem;
  max-height: calc(100vh - 40px - 65px);
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  padding: 0px 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list {
  margin: 0;
}

.list li:not(:first-child) {
  margin-top: 20px;
}

.include {
  margin-bottom: 10px;
}
