.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #c96567b3;
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 4rem;
}

.description {
  font-size: 2rem;
}
.description2 {
  font-size: 1.5rem;
}
