.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  box-sizing: border-box;
  position: relative;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100vh;
  /*   transition: all 0.5s ease-in-out; */
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
}

.tag {
  color: #f92672;
}

.indented {
  padding-left: 45px;
}

/* .id {
  color: #a6e22e;
} */

/* .string {
  color: #e6db74;
} */

.expirienceSection {
  margin-top: 40px;
}

.script {
  margin-top: 40px;
}

.consoleLog {
  padding-left: 45px;
  position: relative;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.consoleLog:after {
  content: "";
  width: 2px;
  height: 20px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -4px;
  animation: cursor-blink 1s steps(2) infinite;
}
.comment {
  padding-left: 45px;
  color: #a6e22e;
}

.buttons {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  font-size: 1.4rem;
  color: white;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--font-fira-code);
}

.coloredText {
  /* color: #263441; */
  text-decoration: underline;
  /*  font-weight: bold; */
}

.htmlComment {
  color: #a6e22e;
  font-family: monospace;
}

.expirienceContent {
  font-size: 1.7rem;
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #191919;
}

.contantInfo {
  color: #fd971f;
}
.tabs {
  display: flex;
  gap: 3px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 9px 10px;
  color: smoke;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

:global(.open).tab {
  background: inherit;
}

.li {
  font-size: 1.7rem;
  max-width: 60%;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
  line-height: 22px;
  /*  &::marker {
    color: #fd971f;
  } */
}

.paragrapgh {
  font-size: 1.7rem;
  max-width: 60%;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
  line-height: 22px;
  /*  &::marker {
    color: #fd971f;
  } */
}
.referenceText {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.h1 {
  margin: 0;
  font-weight: 500;
  font-size: 2.1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #e0e0e0;
}

.time {
  font-size: 1.3rem;
  color: #a6e22e;
  letter-spacing: 0.7px;
}

.preview {
  background-color: rgba(255, 255, 255, 0.1);

  color: white;
  padding: 15px;
  border-radius: 5px;
}

.company {
  color: #f92672;
  opacity: 0.94;
  font-size: 1.4rem;
}
